
#container{
    width: 100%;
}
a{
    text-decoration: none;
}
#top{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
img{
    width: 80px;
}
.search{
    width: 500px;
    padding-top: 25px;
}
.search_form{
    margin-left: 130px;
}
input[type="text"]{
    width: 80%;
    border: none;
    border-bottom: 2px solid #c3abd0;
    outline: none;
}
.fa-solid{
    color: #c3abd0;
    font-size: 25px;
}
.sub_package>ul{
    display: flex;
    padding-top: 40px;
}
.sub_package>ul>li{
    padding-left: 30px;
    color: #969696;
}
.sub_package>ul>li>a:visited{
    color: #969696;
}
#middle {   /*중간 큰박스*/
    width: 100%;
    height: 60px;
    display: flex;
}
.box{
    width: 25%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    color: #ecd3ce;
    transition: all 0.3s;
}
.box>a{
    color: #ecd3ce;
    display: inline-block;
    height: 100%;
    padding-top: 30px;
    transition: all 0.3s;
}
a:visited{
    color: #ecd3ce;
}
.box:hover{
    background-color: #ecd3ce;
    
}
.box>a{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.box>a:hover{
    color: white;
}
#bottom{
    width: 100%;
    height: 400px;
    background-color:  #c3abd0;
}
