#container{
    width: 80%;
    margin: 0 auto;
}
.mypage_font{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
h3{
    font-size: 50px;
    font-family: 'Do Hyeon', sans-serif;
    color: #828282;
    letter-spacing: 5px;
    text-align: center;
}
.member{
    width: 50%;
    height: 150px;
    display: flex;
}
.picture{
    width: 150px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.info{
    width: 300px;
    height: 100%;
    margin-left: 10px;
}
.info_box{
    width: 100%;
    height: 50%;
    margin-top: 30px;
}
.info_box>p{
    line-height: 2;
}
ul{
    list-style:none;
}
a{
    text-decoration:none; 
    color: #ecd3ce;
    font-size: 35px
}
.wrap{
    width: 100%;
    height: 700px;
    margin-top: 15px;
}
.tab_menu{
    width: 100%;
    height: 50px;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}
.is_on{
    height: 100%;
}
.tab_menu .list li.is_on .btn{
    color: #c3abd0;
}
.tab_menu .list .btn{
    font-family: 'Do Hyeon', sans-serif;
    font-size:35px;
}
.tab_menu .cont_area .cont{
    width: 100%;
    height: 650px;
    display:none; 
}
.cont_area{
    margin-top: 15px;
    border: 1px solid black;
}
.join_modify{
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;

}
input[type=text], input[type=password], input[type=email] {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    background-color: #eeeaea;
    margin-bottom: 10px;
    
}
input::placeholder{
    color: #c9c4c4;
}
label{
    float: left;
    color: #828282;
    font-size: 20px;
    padding-bottom: 5px;
    font-family: 'Jua', sans-serif;
}
input[type=submit]{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #c3abd0;
    font-family: 'Jua', sans-serif;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.sub_checkbox{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}
.sub_checkbox label{
    width: 93%;
    cursor: pointer;   
}
.sub_checkbox_box{
    margin: 20px;
    border-bottom: solid #828282 ;
    padding: 15px 0;
    cursor: pointer;  
}
.matching_teacher{
    width: 80%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
}
.teacher_img{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}
.teacher_info{
    width: 80%;
    height: 100%;
}
.teacher_info>p{
    line-height: 2;
    padding-top: 5px;
    padding-left: 5px;
}
.delete_info{
    width: 50%;
    margin: 0 auto;
    padding-top: 150px;
}
.container1{

    width: 20%;
}
.modify_input {
 width: 50%;   

}
.join_modify_box{
    display: flex;
}
/* pc버전 */
@media all and (min-width:760px){

}

/* 모바일버전 */
@media all and (max-width:759px){

}